@page
@model Petition.Pages.Petitions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>PetitionModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PetitionModel.Title" class="control-label"></label>
                <input asp-for="PetitionModel.Title" class="form-control" />
                <span asp-validation-for="PetitionModel.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Address" class="control-label"></label>
                <input asp-for="PetitionModel.Address" class="form-control" />
                <span asp-validation-for="PetitionModel.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Description" class="control-label"></label>
                <input asp-for="PetitionModel.Description" class="form-control" />
                <span asp-validation-for="PetitionModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.DateCreated" class="control-label"></label>
                <input asp-for="PetitionModel.DateCreated" class="form-control" />
                <span asp-validation-for="PetitionModel.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Photo" class="control-label"></label>
                <input asp-for="PetitionModel.Photo" class="form-control" />
                <span asp-validation-for="PetitionModel.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Category" class="control-label"></label>
                <input asp-for="PetitionModel.Category" class="form-control" />
                <span asp-validation-for="PetitionModel.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Status" class="control-label"></label>
                <input asp-for="PetitionModel.Status" class="form-control" />
                <span asp-validation-for="PetitionModel.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Votes" class="control-label"></label>
                <input asp-for="PetitionModel.Votes" class="form-control" />
                <span asp-validation-for="PetitionModel.Votes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PetitionModel.Name" class="control-label"></label>
                <input asp-for="PetitionModel.Name" class="form-control" />
                <span asp-validation-for="PetitionModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
