@using Microsoft.AspNetCore.Identity
@using Petition.Data
@inject UserManager<Petitioner> _userManager
@inject SignInManager<Petitioner> _signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petition - Innovation Challenge 2018</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: white; border: none; margin: 0;">
        @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
        <div class="p_navbar">
            <a asp-page="/Index">
                <svg width="229.2524871826172" height="81.41383361816406"><defs id="SvgjsDefs1748"></defs><g id="SvgjsG1749" featurekey="root" fill="#ffffff" transform="matrix(1,0,0,1,NaN,NaN)"></g><g id="SvgjsG1750" featurekey="symbol1" fill="#000000" transform="matrix(0.7446808510638298,0,0,0.7446808510638298,10,9.977660483502326)"><title>08</title><path d="M96.65,46c.29-2.15.35-3.45.35-3.45s0,.23-.13.64c0-.21,0-.42,0-.64,0-18.62-21.06-33.77-46.94-33.77S3,23.9,3,42.52a24.72,24.72,0,0,0,1,6.79C6.45,62.7,15.79,91.25,50,91.25c37.44,0,45.13-34.18,46.64-45.29ZM49.94,12.49c23.82,0,43.2,13.47,43.2,30s-19.38,30-43.2,30-43.2-13.47-43.2-30S26.12,12.49,49.94,12.49Z" transform="translate(-3 -8.75)"></path><path d="M52.45,38.32l.23.09a2,2,0,0,0,2-.25L70.42,26.47A2,2,0,0,0,70.09,23a46,46,0,0,0-16.79-4.2,2,2,0,0,0-2.11,2v15.6A2,2,0,0,0,52.45,38.32Z" transform="translate(-3 -8.75)"></path><path d="M29.65,26.47,45.43,38.16a2,2,0,0,0,2,.25l.23-.09a2,2,0,0,0,1.26-1.87V20.85a2,2,0,0,0-2.11-2A46,46,0,0,0,30,23,2,2,0,0,0,29.65,26.47Z" transform="translate(-3 -8.75)"></path><path d="M53.22,64.56A46,46,0,0,0,70,60.35a2,2,0,0,0,.32-3.44L54.55,45.23a2,2,0,0,0-2-.25l-.23.09a2,2,0,0,0-1.26,1.87v15.6A2,2,0,0,0,53.22,64.56Z" transform="translate(-3 -8.75)"></path><path d="M47.52,45.07,47.29,45a2,2,0,0,0-2,.25L29.56,56.91a2,2,0,0,0,.32,3.44,46,46,0,0,0,16.79,4.2,2,2,0,0,0,2.11-2V46.94A2,2,0,0,0,47.52,45.07Z" transform="translate(-3 -8.75)"></path><path d="M18.17,39.78l25.54.54s.81,0,.95-.22a.54.54,0,0,0-.26-.81L25.57,27.78a3.21,3.21,0,0,0-3.84.35,22.65,22.65,0,0,0-5.88,8.25A2.52,2.52,0,0,0,18.17,39.78Z" transform="translate(-3 -8.75)"></path><path d="M22.94,56a3.18,3.18,0,0,0,3.83.13l18-12.6A.8.8,0,0,0,45,42.46l0,0a1.54,1.54,0,0,0-1.33-.68L17,42.72a1.71,1.71,0,0,0-1.61,2.12C16.74,50.29,20.57,54.12,22.94,56Z" transform="translate(-3 -8.75)"></path><path d="M55.38,39.91c.14.26.95.22.95.22l25.54-.54a2.52,2.52,0,0,0,2.32-3.39,22.65,22.65,0,0,0-5.88-8.25,3.21,3.21,0,0,0-3.84-.35L55.64,39.1A.54.54,0,0,0,55.38,39.91Z" transform="translate(-3 -8.75)"></path><path d="M83,42.46l-26.62-1a1.54,1.54,0,0,0-1.33.68l0,0a.8.8,0,0,0,.21,1.11l18,12.6a3.18,3.18,0,0,0,3.83-.13c2.37-1.93,6.2-5.75,7.56-11.21A1.71,1.71,0,0,0,83,42.46Z" transform="translate(-3 -8.75)"></path></g><g id="SvgjsG1751" featurekey="text1" fill="#000000" transform="matrix(3.1678985379176163,0,0,3.1678985379176163,93.66642686340353,-5.789864365763798)"><path d="M4.06 6.98 l0 9.7 q0 0.54 0.25 0.91 t0.63 0.55 t0.82 0.18 t0.81 -0.19 t0.63 -0.55 t0.26 -0.9 l0 -9.7 l1.96 0 l0 9.66 q0 1.18 -0.55 1.96 t-1.38 1.18 t-1.8 0.4 t-1.79 -0.39 t-1.37 -1.17 t-0.53 -1.96 l0 -9.68 l2.06 0 z M12.78 11.6 l2.02 0 l-0.04 1.56 q0.4 -0.84 1.14 -1.29 t1.7 -0.43 q1.38 0 2.26 0.93 t0.88 2.65 l0 4.98 l-2.02 0 l0.04 -4.82 q-0.06 -0.9 -0.46 -1.39 t-1.32 -0.57 q-1 0 -1.59 0.6 t-0.63 1.62 l0.04 4.56 l-2.02 0 l0 -8.4 z M23.279999999999998 11.6 l2.04 0 l0 8.4 l-2.04 0 l0 -8.4 z M24.299999999999997 9.68 q-0.54 0 -0.94 -0.37 t-0.4 -0.97 q0 -0.58 0.4 -0.95 t0.94 -0.37 t0.94 0.37 t0.4 0.95 q0 0.6 -0.4 0.97 t-0.94 0.37 z M28.699999999999996 13.26 l-1.38 0.04 l0 -1.7 l1.38 0.02 l0 -3.34 q0.04 -1.48 0.73 -2.21 t1.97 -0.77 q0.84 0 1.41 0.27 t0.97 0.77 l-1.2 1.28 q-0.18 -0.22 -0.4 -0.37 t-0.6 -0.17 q-0.38 0.04 -0.64 0.29 t-0.24 0.89 l-0.08 3.36 l2.36 -0.02 l0 1.7 l-2.32 -0.02 l0.06 6.72 l-2.02 0 l0 -6.74 z M37.5 19.18 l-3.54 -7.58 l2.24 0 l2.24 5.94 l2.26 -5.94 l2.1 0 l-5.5 12.64 l-2.08 0 z"></path></g></svg>
            </a>
            <div class="p_mainnav">
                <ul class="p_navbar_list">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var Petitioner = await _userManager.GetUserAsync(User);
                        <li class="mainnav_right"><span>Hello, @Petitioner.FullName</span></li>
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">Logout</a></li>
                    }
                    else
                    {
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Petition</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
