@using Microsoft.AspNetCore.Identity
@using Petition.Data
@inject UserManager<Petitioner> _userManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petition - Innovation Challenge 2018</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse" style="background-color: white; border: none; margin: 0;">
        @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>*@
        <div class="p_navbar">
            <a asp-page="/Index">
                <svg width="310.2539367675781" height="94.06265258789062"><defs id="SvgjsDefs1116"></defs><g id="SvgjsG1117" featurekey="root" fill="#ffffff" transform="matrix(1,0,0,1,NaN,NaN)"></g><g id="SvgjsG1118" featurekey="symbol1" fill="#5788b9" transform="matrix(0.19444121377920356,0,0,0.19444121377920356,10.001074587663508,10.001547257888578)"><g transform="translate(-13.800394,-1.7079576)"><path d="M192,1.7c0,0-27.5,27.8-48.2,48.7c5.2,9.2,10.9,18.8,17,28.5c3.8,6.1,7.1,11.1,10.6,16.4c2-1.3,4-2.8,6.1-4.1 c0.4-0.2,11.4-7.4,16.9-10.9c10.7-6.8,21.1-13.2,31.3-19.3c3.4-2,6.7-3.9,10-5.8c0.7-3,1.4-5.5,2-7.7C218.1,27.9,192,1.7,192,1.7z M136.6,57.7c-10.6,10.8-13,13.1-23.6,23.8c3.5,9.3,6,17,7.9,25.5c1.8,7.9,3,16,4,24.4c12.8-11.3,25.4-21.4,38.3-30.5 c-3.6-5.4-6.9-10.5-10.8-16.7C146.7,75.1,141.5,66.3,136.6,57.7L136.6,57.7z M249.2,59.2c-1.4,0.8-2.7,1.4-4.2,2.2 c-0.2,0.1-0.4,0.3-0.7,0.4c0,0.1,0,0.1-0.1,0.2c0,0-1.7,6.8-2.3,9.5c-7.7,30.8-13.8,64-17.8,97.6c2.7,3.7,7.5,10.1,8.9,12 c0.2,0,0.3,0,0.6,0c22.5-26.1,60.5-70.1,62.2-72.2c0.5-0.6,0.9-1,1.4-1.6C280.9,90.9,265,75,249.2,59.2L249.2,59.2z M232.4,68.6 c-0.6,0.3-1.1,0.6-1.7,0.9c-10.2,6-20.4,12.4-31,19.2c-5.5,3.5-16.5,10.7-16.9,10.9c-2,1.2-3.9,2.6-5.8,3.9 c11,16.2,25.9,36.7,38.6,53.9c4.1-30.5,9.7-60.5,16.7-88.5C232.4,68.9,232.4,68.8,232.4,68.6z M105.2,89.4 c-12.8,13-15.4,15.6-27.9,28.2c2.3,3.2,3.7,7.7,4.6,13.6c0.4,2.4,0.6,4.9,0.8,7.6c0.1,1,0.3,5.1,0.3,5.4c0.5,9.5-0.1,18.6-1.4,29.2 c11.9-12.4,23-23.3,33.9-33.4c-0.9-10.6-2.2-20.9-4.4-30.7C109.6,102.5,107.8,96.3,105.2,89.4L105.2,89.4z M168.7,109.2 c-14.4,10.2-28.4,21.7-42.8,34.9c0.7,11.5,0.9,23.7,0.3,36.7c36.7,0.1,52.8,0.2,86.7,0.3c0.3-3,0.6-6,1-9 C194.7,146.5,180.7,127.1,168.7,109.2L168.7,109.2z M304.3,114.4c-0.3,0.4-0.6,0.6-0.9,1c-1.6,1.9-33.7,39.1-56.7,65.8 c55.6,0.2,125.3,0.4,125.1,0.4C371.5,181.6,340.1,150.2,304.3,114.4z M69.9,125c-30,30.1-55.7,55.9-56.1,55.8 c-0.4-0.2,22.6-0.3,56.8-0.2c2.2-14.6,2.9-24.6,2.3-35.8c0-0.3-0.2-4.3-0.3-5.2c-0.2-2.5-0.4-4.7-0.7-6.8 C71.5,129.2,70.7,126.8,69.9,125z M116.5,152.6c-9,8.6-18.2,17.7-28,27.9c10.2,0,16.3,0.1,27.7,0.1 C116.6,170.9,116.8,161.5,116.5,152.6L116.5,152.6z"></path><path d="M373.8,202.8c0.3,0-77.1,0.3-129.5,0.5c15.3,20.3,25.3,33.8,34.4,46.5c17.5-2.3,35.4-4,53.5-5.4 C348.9,227.6,373.6,202.8,373.8,202.8z M222.6,203.4c0,0.1,0,0.3,0,0.4c0.1-0.1,0.3-0.3,0.3-0.4 C222.8,203.4,222.7,203.4,222.6,203.4z M212.5,203.4c-29.8,0.1-49.8,0.2-86.2,0.3c-0.2,2.7-0.3,5.1-0.5,7.9 c-1.2,13.7-2.5,25.3-5.5,48.7c-1.5,11.9-1.9,15.9-2.6,22.5c16.8-4.5,33.1-8.7,48.8-12.4c1.8-2.2,3.7-4.6,5.5-6.8 c19.2-23,34.4-40.9,39.4-46.9C211.9,212.2,212.1,207.8,212.5,203.4z M15.7,203.6c0.2-0.1,10.8,10.4,24.2,23.8 c5-5.4,9.6-10.5,15-16.3c1.8-1.9,5.2-5.5,6.8-7.2C37,203.9,15.4,203.8,15.7,203.6z M116.3,203.7c-15.2,0-24,0.1-36.9,0.1 c-0.6,3.2-1,6-1.7,9.6c-0.6,3.3-0.9,4.7-1.2,6.6c-2.2,11.8-3.4,19.9-4.2,28c-0.4,3.8-0.6,7.3-0.8,10.9 c12.2,12.2,18.4,18.6,28.4,28.7c2.5-0.7,5-1.4,7.5-2.1c0.7-6.9,1.3-12.5,3.1-26.6c2.9-23.3,4.3-34.8,5.5-48.3 C116.1,208.3,116.2,206.1,116.3,203.7L116.3,203.7z M233.8,206c-1.9,2.2-9.3,10.8-9.3,10.8c-0.8,0.9-2.4,2.8-3.2,3.8 c-0.9,13-1.4,25.9-1.5,38.7c16-3,31.8-5.7,47.6-7.9C252.9,231.7,236.5,209.5,233.8,206z M67.8,212.1c-1.3,1.4-4,4.3-5.5,5.8 c-5.6,5.9-10.2,11.1-15.2,16.6c5.2,5.2,9.2,9.2,15.1,15.1c0.1-0.8,0.1-1.7,0.2-2.5c0.9-8.4,2.2-16.8,4.4-28.8 C67,216.5,67.2,215,67.8,212.1L67.8,212.1z M210.6,233.4c-8.1,9.6-15,17.7-28.1,33.5c9.2-2,18.3-3.7,27.3-5.5 C209.9,252.1,210.1,242.8,210.6,233.4z M321.2,255.2c-12.1,1.1-24,2.4-35.9,3.9c1.7,2.4,3.5,4.9,5.2,7.2c2.4,3.5,5,7.3,7.9,11.6 C309.5,266.8,310.9,265.5,321.2,255.2z M274,260.5c-18.1,2.5-36,5.4-54.2,8.8c0,2.6-0.1,5.2,0,7.7c0.2,11.9,0.8,23.4,1.7,34.7 c17.3-3.7,34.8-6.9,52.6-9.3c8.4-8.4,8.7-8.7,17.3-17.3c-3.4-5-6.2-9.1-8.9-13C280.4,269.3,276.6,264.2,274,260.5L274,260.5z M209.8,271.4c-12.4,2.4-24.8,5-37.6,8c-11.9,14.5-23.9,29.4-36,45c3.7,3.7,4.3,4.3,8,8.1c21.8-7.3,44.3-13.5,67.4-18.7 c-0.9-11.9-1.6-24-1.8-36.6C209.7,275.3,209.8,273.3,209.8,271.4L209.8,271.4z M156,283.3c-12.8,3.1-26,6.5-39.5,10.2 c-0.3,2.5-0.9,7.2-1.2,9.8c6,6.1,7.4,7.4,13.7,13.8C138.1,305.6,147.1,294.3,156,283.3z M262,314.4c-13.4,2.1-26.6,4.6-39.7,7.4 c0.9,9.9,2.1,19.5,3.6,28.8C239.3,337.1,245.6,330.8,262,314.4L262,314.4z M212.4,323.9c-20.7,4.7-40.9,10.1-60.5,16.4 c19.2,19.3,41.9,42.3,41.9,42.3s16.3-16.3,23.2-23.3C215.1,348,213.6,336.1,212.4,323.9z"></path></g></g><g id="SvgjsG1119" featurekey="text1" fill="#000000" transform="matrix(4.118375164443226,0,0,4.118375164443226,98.69954693301477,-22.881783510137005)"><path d="M3.2 18.7579 l1.7053 0 q1.768421053 0 2.863157895 -1.178947368 t1.0947 -2.7789 q0 -1.178947368 -0.5684210526 -2.084210526 t-1.4737 -1.3895 t-1.9158 -0.48421 l-1.7053 0 l0 7.9158 z M4.9053 9.684 q1.368421053 0 2.557894737 0.6842105263 t1.8737 1.8737 t0.68421 2.5579 q0 2.126315789 -1.494736842 3.621052632 t-3.6211 1.4947 l-1.7053 0 l0 4.0842 l-1.1579 0 l0 -13.158 l-1.7263 0 l0.69474 -1.1579 l3.8947 0 z M18.189442105263158 21.2842 l1.0105 0.56842 q-0.5684210526 1.073684211 -1.642105263 1.736842105 t-2.3579 0.66316 q-1.852631579 0 -3.2 -1.347368421 t-1.3474 -3.2 q0 -1.894736842 1.347368421 -3.221052632 t3.2 -1.3263 q1.178947368 0 2.221052632 0.5894736842 t1.6105 1.4947 l-5.8737 5.1789 q0.8842105263 0.6736842105 2.042105263 0.6736842105 q0.9684210526 0 1.757894737 -0.4842105263 t1.2316 -1.3263 z M12.378942105263157 21.6 l5.0316 -4.4632 q-0.9473684211 -0.8210526316 -2.210526316 -0.8210526316 q-1.431578947 0 -2.410526316 0.9789473684 t-0.97895 2.4105 q0 1.031578947 0.5684210526 1.894736842 z M21.410542105263154 16.5474 l-1.5579 0 l0 -1.1579 l1.5579 0 l0 -2.4211 l1.1579 -0.56842 l0 2.9895 l1.5368 0 l0 1.1579 l-1.5368 0 l0 7.4526 l-1.1579 0 l0 -7.4526 z M25.052632631578945 15.3895 l1.1579 0 l0 8.6105 l-1.1579 0 l0 -8.6105 z M25.052632631578945 12.021 l1.1579 0 l0 1.2632 l-1.1579 0 l0 -1.2632 z M28.715805263157893 16.5474 l-1.5579 0 l0 -1.1579 l1.5579 0 l0 -2.4211 l1.1579 -0.56842 l0 2.9895 l1.5368 0 l0 1.1579 l-1.5368 0 l0 7.4526 l-1.1579 0 l0 -7.4526 z M32.35789578947369 15.3895 l1.1579 0 l0 8.6105 l-1.1579 0 l0 -8.6105 z M32.35789578947369 12.021 l1.1579 0 l0 1.2632 l-1.1579 0 l0 -1.2632 z M39.01056842105263 15.1579 q1.894736842 0 3.221052632 1.326315789 t1.3263 3.2211 q0 1.852631579 -1.326315789 3.2 t-3.2211 1.3474 q-1.852631579 0 -3.2 -1.347368421 t-1.3474 -3.2 q0 -1.894736842 1.347368421 -3.221052632 t3.2 -1.3263 z M39.01056842105263 16.3158 q-1.431578947 0 -2.410526316 0.9789473684 t-0.97895 2.4105 t0.97895 2.4105 t2.4105 0.97895 q1.410526316 0 2.4 -0.9894736842 t0.98947 -2.4 t-0.98947 -2.4 t-2.4 -0.98947 z M44.50526421052632 24 l0 -8.6105 l0.98947 0.8 q0.9894736842 -1.031578947 2.442105263 -1.031578947 t2.4421 0.98947 t0.98947 2.4421 l0 5.4105 l-1.1579 0 l0 -5.4105 q0 -0.9894736842 -0.6631578947 -1.631578947 t-1.6105 -0.64211 t-1.6105 0.66316 t-0.66316 1.6105 l0 5.4105 l-1.1579 0 z"></path></g></svg>
            </a>
            <div class="p_mainnav">
                <ul class="p_navbar_list">
                    <li><a asp-page="/Index">Home</a></li>
                    <li><a asp-page="/About">About</a></li>
                    <li><a asp-page="/Contact">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var Petitioner = await _userManager.GetUserAsync(User);
                        <li>Hello, @Petitioner.FullName</li>
                        <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">Logout</a></li>
                    }
                    else
                    {
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
                        <li class="mainnav_right"><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - Petition</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
