/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: Proxima-Nova-Regular;
    src: url(../fonts/Proxima-Nova-Regular.ttf);
}


body {
    padding-bottom: 20px;
    background-color: #f4f4f4;
    font-family: Proxima-Nova-Regular;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.p_mainnav{
    display: inline-block;
}

.p_navbar{
    padding-top: 10px;
}

.p_navbar_list{
    list-style-type: none;
}

.p_navbar_list li {
    display: inline-block;
    position: relative;
    top: -25px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.p_navbar_list li a{
    text-decoration: none;
    color: black;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
    font-weight: bold;
}

.p_navbar_list li span{
    text-decoration: none;
    color: black;
    font-family: Proxima-Nova-Regular;
    font-size: 20px;
    font-weight: bold;
}

.mainnav_right {
    position: relative;
    left: 80%;
}
